
 <div class="wrapper">
    <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content">
      <div class="logo"><a href="#">CodingFever</a></div>
        <ul class="links" style="margin-left: 684px;">
         
          <li> <a (click)="signOut()" style="border: 1px solid white;">Logout</a></li>
        
        </ul>
      </div>
    </nav>
  </div>