<div class="list row" style="border: 1px solid black;">
  
    <div class="col-md-6" style="background-color: #0d6efd;">
      <h4>Team List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let team of teams; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveTeam(team, i)">
          {{ team.teamName }}
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentTeam">
        <h4>Team</h4>
        <div>
          <label><strong>teamName:</strong></label> {{ currentTeam.teamName }}
        </div>
        <div>
          <label><strong>Score:</strong></label>
          {{ currentTeam.teamScore }}
        </div>
        
  
        <a class="btn btn-warning" routerLink="/questions/teams/{{ currentTeam.id }}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentTeam">
        <br />
        <p>Please click on a Tutorial...</p>
      </div>
    </div>
  </div>
