.card {
    background-color: #64379f;
    padding: 16px;
    color: #ffffff;
}
th {
    border: 0;
    color: #ffffff;
}
td {
    background: aliceblue;
    border-top: 6px solid #64379f;
    padding: 5px 15px;
}


/*PROMO*/

#promo
{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(./img/1.jpg);
    background-size:cover ;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
    text-align: center;
    padding: 100px;
    font-family: sans-serif;
    font-size: 38px;
}
/*ENDPROMO*/
.bottom {
    background-color: #171c24;
}
.bottom .copyright {
    color: #e5e5e5;
    font-weight: 600;
}
.copyright a {
    color: #f2ff49;
    margin-left: 3px;
    padding-right: 3px;
}
.bottom p {
    margin-bottom: 0;
    line-height: 50px;
    font-size: 16px;
    font-weight: 400;
}
.copyright p span {
    color: #d1caca;
}
.bottom .copyright p, .bottom .copyright a:hover{
    color: #6c6d83;
}

