<div class="list row" style="border: 1px solid black;">
  
    <div class="col-md-6" style="background-color: #0d6efd;">
      <h4>Comment List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let comment of comments; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveComment(comment, i)">
          {{ comment.text }}
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentComment">
        <h4>Comment</h4>
        <div>
          <label><strong>text:</strong></label> {{ currentComment.text }}
        </div>
        
        
  
        <a class="btn btn-warning" routerLink="/questions/comment/{{ currentComment.id }}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentComment">
        <br />
        <p>Please click on a Comment...</p>
      </div>
    </div>
  </div>