
.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}
mat-card {
  width: 600px;
  background: #7e7e801a;
  border: 1px solid;
}
mat-form-field {
  width: 300px;
}
.alert {
  padding: 4px 20px;
  background-color: #1abc9c;
  color: white;
  border-radius: 6px;
  margin-top: 30px;
}
